Repository Himenon/code-dependency: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format, yarn run lint, sort-package-json

feat(cli): add simple cli
  package.json
  src/cli/index.ts
  src/extract/extract-typescript-deps.ts
  src/extract/index.ts
  src/index.ts
  src/main.ts
  src/types/index.ts
  tsconfig.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(extract): update types
  src/cli/index.ts
  src/extract/extract-typescript-deps.ts
  src/index.ts
  src/parser/index.ts
  src/parser/toTsAst.ts
  src/types/index.ts
  tsconfig.json
Due: yarn run format, yarn run lint

feat(extract): update extract
  package.json
  src/cli/index.ts
  src/extract/gather.ts
  src/extract/index.ts
  src/index.ts
  src/types/index.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(resolver): update resolver
  src/extract/filter.ts
  src/extract/index.ts
  src/index.ts
  src/resolver/index.ts
  src/types/index.ts
Due: yarn run format, yarn run lint

feat(resolver): update resolver
  package.json
  src/cli/index.ts
  src/extract/filter.ts
  src/extract/index.ts
  src/index.ts
  src/resolver/index.ts
  src/resolver/resolve.ts
  src/resolver/resolved-commonjs.ts
  src/types/index.ts
  tslint.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

refactor(dir): move core
  core/.dependency-cruiser.json
  core/.eslintrc.json
  core/.gitignore
  core/.huskyrc
  core/.lintstagedrc
  core/.npmrc
  core/.npmrc.template
  core/.prettierignore
  core/.prettierrc
  core/.travis.yml
  core/.yarnrc
  core/CONTRIBUTING.md
  core/LICENSE
  core/README.md
  core/commitlint.config.json
  core/jest.config.json
  core/package.json
  core/src/__tests__/index.test.ts
  core/src/cli/index.ts
  core/src/extract/extract-typescript-deps.ts
  core/src/extract/gather.ts
  core/src/extract/index.ts
  core/src/index.ts
  core/src/parser/index.ts
  core/src/parser/toTsAst.ts
  core/src/resolver/index.ts
  core/src/resolver/resolve.ts
  core/src/resolver/resolved-commonjs.ts
  core/src/types/index.ts
  core/tsconfig.build.json
  core/tsconfig.json
  core/tslint.json
  core/yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

refactor(dir): move core
  .gitignore
  lerna.json
  package.json
  packages/core/.dependency-cruiser.json
  packages/core/.eslintrc.json
  packages/core/.gitignore
  packages/core/.huskyrc
  packages/core/.lintstagedrc
  packages/core/.npmrc
  packages/core/.npmrc.template
  packages/core/.prettierignore
  packages/core/.prettierrc
  packages/core/.travis.yml
  packages/core/.yarnrc
  packages/core/CONTRIBUTING.md
  packages/core/LICENSE
  packages/core/README.md
  packages/core/commitlint.config.json
  packages/core/jest.config.json
  packages/core/package.json
  packages/core/src/__tests__/index.test.ts
  packages/core/src/cli/index.ts
  packages/core/src/extract/extract-typescript-deps.ts
  packages/core/src/extract/gather.ts
  packages/core/src/extract/index.ts
  packages/core/src/index.ts
  packages/core/src/parser/index.ts
  packages/core/src/parser/toTsAst.ts
  packages/core/src/resolver/index.ts
  packages/core/src/resolver/resolve.ts
  packages/core/src/resolver/resolved-commonjs.ts
  packages/core/src/types/index.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/core/tslint.json
  packages/core/yarn.lock
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

refactor(monorepo): create monorepo
  .prettierrc
  .yarnrc
  commitlint.config.json
  jest.config.json
  package.json
  packages/core/LICENSE
  packages/core/package.json
Due: sort-package-json

refactor(monorepo): update monorepo
  package.json
  packages/code-dependency/package.json
  packages/parser/package.json
  yarn.lock
Due: sort-package-json

refactor(monorepo): update monorepo
  packages/resolver/src/jest.config.json
Due: none

refactor(rename): rename package name
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/code-dependency/README.md
  packages/code-dependency/package.json
  packages/interfaces/README.md
  packages/interfaces/package.json
  packages/parser/README.md
  packages/parser/package.json
  packages/resolver/README.md
  packages/resolver/package.json
Due: sort-package-json

docs(readme): update readme
  README.md
  packages/resolver/README.md
Due: none

refactor(move): move file
  CONTRIBUTING.md
  packages/code-dependency/CONTRIBUTING.md
  packages/parser/CONTRIBUTING.md
  packages/resolver/CONTRIBUTING.md
Due: none

feat(resolver): update resolver
  packages/interfaces/src/index.ts
  packages/resolver/jest.config.json
  packages/resolver/package.json
  packages/resolver/src/__tests__/resolve.test.ts
  packages/resolver/src/resolve.ts
  packages/resolver/src/resolveOptions.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

ci(travis): remove ci settings
  .travis.yml
  packages/code-dependency/.travis.yml
  packages/parser/.travis.yml
  packages/resolver/.travis.yml
Due: none

feat(resolve): update resolver
  package.json
  packages/interfaces/src/index.ts
  packages/resolver/package.json
  packages/resolver/src/__tests__/index.test.ts
  packages/resolver/src/determineDependencyTypes.ts
  packages/resolver/src/index.ts
  packages/resolver/src/localNpmHelpers.ts
  packages/resolver/src/readPackageDeps/index.ts
  packages/resolver/src/readPackageDeps/mergePackages.ts
  packages/resolver/src/resolved-commonjs.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(resolve): update resolver
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/code-dependency/package.json
  packages/code-dependency/src/__tests__/index.test.ts
  packages/code-dependency/src/index.ts
  packages/interfaces/package.json
  packages/parser/package.json
  packages/resolver/package.json
  packages/resolver/src/__tests__/addResolutionAttribute.test.ts
  packages/resolver/src/__tests__/index.test.ts
  packages/resolver/src/__tests__/resolve.test.ts
  packages/resolver/src/addResolutionAttribute.ts
  packages/resolver/src/index.ts
  packages/resolver/src/localNpmHelpers.ts
  packages/resolver/src/main.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(code-dependency): update
  packages/code-dependency/jest.config.json
  packages/code-dependency/src/__tests__/index.test.ts
Due: yarn run format, yarn run lint

feat(extract): update extract
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/code-dependency/package.json
  packages/code-dependency/src/__tests__/index.test.ts
  packages/code-dependency/src/extract/index.ts
  packages/code-dependency/src/gather.ts
  packages/code-dependency/src/index.ts
  packages/extract/.dependency-cruiser.json
  packages/extract/.gitignore
  packages/extract/.npmrc
  packages/extract/.npmrc.template
  packages/extract/.prettierignore
  packages/extract/LICENSE
  packages/extract/README.md
  packages/extract/jest.config.json
  packages/extract/package.json
  packages/extract/src/extract/index.ts
  packages/extract/src/extract/typescript-dependency.ts
  packages/extract/src/index.ts
  packages/extract/src/parser/index.ts
  packages/extract/src/parser/toTsAst.ts
  packages/extract/tsconfig.build.json
  packages/extract/tsconfig.json
  packages/extract/tslint.json
  packages/interfaces/package.json
  packages/interfaces/src/index.ts
  packages/parser/README.md
  packages/parser/src/index.ts
Due: yarn run format, yarn run lint, sort-package-json

feat(converter): create converter
  packages/converter/.dependency-cruiser.json
  packages/converter/.gitignore
  packages/converter/.npmrc
  packages/converter/.npmrc.template
  packages/converter/.prettierignore
  packages/converter/LICENSE
  packages/converter/README.md
  packages/converter/jest.config.json
  packages/converter/package.json
  packages/converter/src/__tests__/index.test.ts
  packages/converter/src/__tests__/utils.ts
  packages/converter/src/filters/basic.ts
  packages/converter/src/filters/index.ts
  packages/converter/src/index.ts
  packages/converter/tsconfig.build.json
  packages/converter/tsconfig.json
  packages/converter/tslint.json
  packages/interfaces/src/index.ts
Due: yarn run format, yarn run lint, sort-package-json

feat(converter): update
  packages/converter/src/__tests__/index.test.ts
  packages/converter/src/__tests__/testData.ts
  packages/converter/src/index.ts
  packages/interfaces/src/index.ts
Due: yarn run format, yarn run lint

feat(converter): update
  packages/converter/src/index.ts
Due: yarn run format, yarn run lint

feat(cli): update cli & add server
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/interfaces/src/index.ts
  packages/view/package.json
  packages/view/public/index.html
  packages/view/tsconfig.build.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(view): webpack ssr
  packages/view/scripts/webpack/SsrPlugin.ts
  packages/view/scripts/webpack/plugins.ts
  packages/view/scripts/webpack/webpack.config.ts
Due: yarn run format, yarn run lint

feat(view): update view
  packages/view/package.json
  yarn.lock
Due: sort-package-json

feat(view): update view
  packages/view/scripts/webpack/SsrPlugin.ts
  packages/view/src/components/Counter/Container.tsx
  packages/view/src/components/Counter/Counter.tsx
  packages/view/src/components/Counter/Store.ts
  packages/view/src/components/Counter/counter.scss
  packages/view/src/components/Dendrogram/Container.tsx
  packages/view/src/components/Dendrogram/Dendrogram.tsx
  packages/view/src/components/Dendrogram/Store.ts
  packages/view/src/components/Dendrogram/index.tsx
  packages/view/src/components/Template/Container.tsx
  packages/view/src/components/Template/Store.ts
  packages/view/src/components/Template/Template.tsx
  packages/view/src/components/TreeLink/Container.tsx
  packages/view/src/components/TreeLink/Store.tsx
  packages/view/src/components/TreeLink/TreeLink.tsx
  packages/view/src/components/TreeLink/index.ts
  packages/view/src/components/TreeNode/Container.tsx
  packages/view/src/components/TreeNode/Store.ts
  packages/view/src/components/TreeNode/TreeNode.tsx
  packages/view/src/components/TreeNode/index.ts
  packages/view/src/domain/App/Factory.ts
  packages/view/src/domain/App/Reducer.ts
  packages/view/src/domain/App/State.ts
  packages/view/src/domain/Dendrogram/Action.ts
  packages/view/src/domain/Dendrogram/Reducer.ts
  packages/view/src/domain/Dendrogram/State.ts
  packages/view/src/domain/Dendrogram/index.ts
  packages/view/src/domain/index.ts
  packages/view/src/index.tsx
  packages/view/src/style.scss
  packages/view/src/types/index.ts
  packages/view/tsconfig.json
Due: yarn run format, yarn run lint

feat(view): update view
  packages/view/package.json
  packages/view/public/index.html
  packages/view/scripts/webpack/SsrPlugin.ts
  packages/view/src/components/Menu/Container.tsx
  packages/view/src/components/Menu/Menu.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/Menu/index.tsx
  packages/view/src/components/Menu/menu.scss
  packages/view/src/components/Template/Container.tsx
  packages/view/src/components/Template/Store.ts
  packages/view/src/components/Template/Template.tsx
  packages/view/src/components/Template/template.scss
  packages/view/src/components/TreeNode/Container.tsx
  packages/view/src/components/TreeNode/Store.ts
  packages/view/src/domain/App/Action.ts
  packages/view/src/domain/App/Factory.ts
  packages/view/src/domain/App/Reducer.ts
  packages/view/src/domain/App/State.ts
  packages/view/src/domain/index.ts
  packages/view/src/style.scss
  packages/view/src/styles/_dashboard.scss
  packages/view/src/styles/_display.scss
  packages/view/src/styles/_flex.scss
  packages/view/src/styles/_functions.scss
  packages/view/src/styles/_navbar.scss
  packages/view/src/styles/_reboot.scss
  packages/view/src/styles/_spacing.scss
  packages/view/src/styles/_variables.scss
  packages/view/src/utils.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(cli): update
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/converter/.gitignore
  packages/converter/bin/generate-sample.ts
  packages/converter/package.json
  packages/converter/src/index.ts
  packages/view/scripts/webpack/common.ts
  packages/view/src/domain/App/Action.ts
  packages/view/src/domain/App/Reducer.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(resolve): add example
  packages/resolver/example/src/app.tsx
  packages/resolver/example/src/components/Main.tsx
  packages/resolver/example/src/components/index.ts
  packages/resolver/example/src/index.ts
  packages/resolver/example/tsconfig.json
Due: yarn run format, yarn run lint

feat(resolver): update resolver
  packages/interfaces/src/index.ts
  packages/resolver/src/__tests__/example.data.ts
  packages/resolver/src/__tests__/example.test.ts
  packages/resolver/src/__tests__/index.test.ts
  packages/resolver/src/index.ts
  packages/resolver/src/main.ts
  packages/resolver/src/resolve.ts
Due: yarn run format, yarn run lint

feat(resolver): rename files
  packages/resolver/src/__tests__/example.test.ts
  packages/resolver/src/__tests__/index.test.ts
  packages/resolver/src/__tests__/resolve.test.ts
  packages/resolver/src/addResolutionAttribute.ts
  packages/resolver/src/enhancedResolve.ts
  packages/resolver/src/localNpmHelpers.ts
  packages/resolver/src/main.ts
  packages/resolver/src/resolve.ts
  packages/resolver/src/resolved-commonjs.ts
Due: yarn run format, yarn run lint

feat(resolver): update resolver
  packages/resolver/src/__tests__/addResolutionAttribute.test.ts
  packages/resolver/src/__tests__/example.test.ts
  packages/resolver/src/__tests__/resolve.test.ts
  packages/resolver/src/index.ts
  packages/resolver/src/resolve.ts
Due: yarn run format, yarn run lint

feat(resolver): update resolver
  packages/interfaces/src/index.ts
  packages/resolver/example/src/circleDeps/child.ts
  packages/resolver/example/src/circleDeps/index.ts
  packages/resolver/example/src/circleDeps/parent.ts
  packages/resolver/example/src/domain/App/Model.ts
  packages/resolver/example/src/domain/App/index.ts
  packages/resolver/example/src/domain/index.ts
  packages/resolver/example/src/index.ts
  packages/resolver/src/__tests__/addResolutionAttribute.test.ts
  packages/resolver/src/__tests__/example.data.ts
  packages/resolver/src/__tests__/example.test.ts
  packages/resolver/src/__tests__/index.test.ts
  packages/resolver/src/addResolutionAttribute.ts
  packages/resolver/src/constants.ts
  packages/resolver/src/resolve.ts
  packages/resolver/src/resolved-commonjs.ts
Due: yarn run format, yarn run lint

feat(types): update types
  packages/cli/src/server.tsx
  packages/code-dependency/src/index.ts
  packages/interfaces/src/index.ts
  packages/resolver/src/addResolutionAttribute.ts
  packages/resolver/src/index.ts
  packages/resolver/tsconfig.json
Due: yarn run format, yarn run lint

chore(sample): update sample generator
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/code-dependency/package.json
  packages/code-dependency/src/index.ts
  packages/converter/README.md
  packages/converter/sample/code-dependency.json
  packages/converter/src/index.ts
  packages/interfaces/src/index.ts
  packages/resolver/src/resolve.ts
Due: yarn run format, yarn run lint, sort-package-json

build(tsc): update tsc build settings
  .eslintrc.json
  packages/cli/tsconfig.build.json
  packages/code-dependency/package.json
  packages/code-dependency/tsconfig.build.json
  packages/code-dependency/tsconfig.json
  packages/converter/tsconfig.build.json
  packages/converter/tsconfig.json
  packages/extract/tsconfig.build.json
  packages/extract/tsconfig.json
  packages/interfaces/package.json
  packages/interfaces/tsconfig.build.json
  packages/interfaces/tsconfig.json
  packages/resolver/tsconfig.build.json
  packages/resolver/tsconfig.json
  packages/view/config/env.ts
  packages/view/config/jest/fileTransform.ts
  packages/view/package.json
  packages/view/scripts/build.ts
  packages/view/scripts/style.ts
  packages/view/scripts/webpack/webpack.config.ts
  packages/view/scripts/webpack/webpackDevServer.config.ts
  packages/view/src/components/TreeLink/TreeLink.tsx
  packages/view/tsconfig.build.json
  packages/view/tsconfig.json
  tsconfig.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

build(tsc): update tsc build settings
  .gitignore
  package.json
  packages/cli/tsconfig.build.json
  packages/code-dependency/tsconfig.build.json
  packages/converter/tsconfig.json
  packages/extract/tsconfig.build.json
  packages/interfaces/tsconfig.build.json
  packages/resolver/tsconfig.build.json
  packages/tsconfig.build.json
  packages/tsconfig.json
  packages/view/tsconfig.json
Due: sort-package-json

Path conditions:
  yarn run format: any of: *.{ts,tsx}
  yarn run lint: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
