Repository Himenon/code-dependency: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format, yarn run lint, sort-package-json

build(tsc): update tsconfig
  packages/cli/tsconfig.build.json
  packages/code-dependency/tsconfig.build.json
  packages/converter/tsconfig.build.json
  packages/extract/tsconfig.build.json
  packages/interfaces/tsconfig.build.json
  packages/resolver/tsconfig.build.json
  packages/tsconfig.json
Due: none

build(tsc): update tsconfig
  build.txt
  package.json
  packages/interfaces/tsconfig.build.json
  packages/view/package.json
  packages/view/tsconfig.build.json
  packages/view/tsconfig.json
  packages/view/tsconfig.lib.json
Due: sort-package-json

chore(rename): rename values
  bin/tsconfig.renwme.sh
  bin/tsconfig.rewrite.sh
  packages/cli/tsconfig.json
  packages/converter/tsconfig.json
  packages/extract/tsconfig.json
  packages/interfaces/tsconfig.json
  packages/resolver/tsconfig.json
  packages/view/tsconfig.json
Due: none

build(tsc): update tsconfig
  bin/tsconfig.rewrite.sh
  build.txt
  package.json
  packages/cli/package.json
  packages/code-dependency/package.json
  packages/code-dependency/tsconfig.json
  packages/converter/package.json
  packages/converter/tsconfig.json
  packages/extract/package.json
  packages/extract/tsconfig.json
  packages/interfaces/package.json
  packages/interfaces/tsconfig.json
  packages/resolver/package.json
  packages/resolver/tsconfig.json
  packages/tsconfig.json
  packages/tsconfig.shared.json
  packages/view/package.json
  packages/view/tsconfig.json
  packages/view/tsconfig.lib.json
Due: sort-package-json

build(tsc): update tsconfig
  .gitignore
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/code-dependency/package.json
  packages/converter/package.json
  packages/converter/tsconfig.json
  packages/extract/package.json
  packages/extract/tsconfig.json
  packages/interfaces/package.json
  packages/resolver/package.json
  packages/resolver/tsconfig.json
  packages/tsconfig.shared.json
  packages/view/package.json
  packages/view/tsconfig.json
  packages/view/tsconfig.scripts.json
Due: sort-package-json

build(tsc): able to build
  packages/cli/tsconfig.json
  packages/code-dependency/tsconfig.json
  packages/converter/tsconfig.json
  packages/resolver/tsconfig.json
  packages/tsconfig.shared.json
  packages/view/package.json
Due: sort-package-json

build(tsc): update references property
  package.json
  packages/cli/tsconfig.json
  packages/code-dependency/tsconfig.json
  packages/resolver/tsconfig.json
  packages/view/tsconfig.json
Due: sort-package-json

chore(vscode): add settings.json
  .vscode/settings.json
Due: none

chore(sample): update converter sample
  .eslintrc.json
  packages/cli/package.json
  packages/converter/bin/generate-sample.ts
  packages/converter/package.json
  packages/converter/sample/code-dependency.json
  packages/converter/sample/tree-data.json
  packages/converter/src/index.ts
  packages/resolver/src/resolved-commonjs.ts
Due: yarn run format, yarn run lint, sort-package-json

test(snapshot): add snapshot test for converter
  packages/converter/src/__tests__/snapshot.test.ts
Due: yarn run format, yarn run lint

feat(converter): add children treeData
  packages/code-dependency/src/index.ts
  packages/converter/sample/tree-data.json
  packages/converter/src/index.ts
  packages/interfaces/src/index.ts
  packages/view/src/domain/App/State.ts
Due: yarn run format, yarn run lint

build(tsc): build tsc & check cli
  .vscode/settings.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/converter/bin/generate-sample.ts
  packages/interfaces/src/index.ts
  packages/view/config/paths.ts
  packages/view/package.json
  packages/view/scripts/webpack/SsrPlugin.ts
  packages/view/scripts/webpack/rules/TsLoader.ts
  packages/view/scripts/webpack/webpack.config.ts
  packages/view/src/client.tsx
  packages/view/src/components/TreeNode/Container.tsx
  packages/view/src/domain/App/Factory.ts
  packages/view/src/domain/App/Reducer.ts
  packages/view/src/domain/index.ts
  packages/view/src/index.tsx
  packages/view/src/render.ts
  packages/view/tsconfig.json
  packages/view/tsconfig.webpack.json
Due: yarn run format, yarn run lint, sort-package-json

test(modified): update test
  package.json
  packages/cli/src/__tests__/index.test.ts
  packages/code-dependency/src/__tests__/index.test.ts
  packages/extract/src/__tests__/index.test.ts
  packages/interfaces/src/__tests__/index.test.ts
  packages/resolver/src/__tests__/addResolutionAttribute.test.ts
  packages/resolver/src/__tests__/example.test.ts
  packages/resolver/src/__tests__/index.test.ts
  packages/resolver/src/__tests__/resolve.test.ts
  packages/view/jest.config.json
  packages/view/package.json
  packages/view/src/__tests__/index.test.ts
Due: yarn run format, yarn run lint, sort-package-json

ci(travis): update ci settings
  .travis.yml
  package.json
  packages/interfaces/package.json
Due: sort-package-json

ci(travis): update ci settings
  .travis.yml
  packages/view/package.json
Due: sort-package-json

ci(travis): add setup ci scripts
  .travis.yml
  .vscode/settings.json
  bin/setup-ci.ts
  package.json
  packages/cli/tsconfig.json
  packages/code-dependency/tsconfig.json
  packages/converter/tsconfig.json
  packages/extract/tsconfig.json
  packages/interfaces/tsconfig.json
  packages/resolver/tsconfig.json
  packages/view/package.json
  packages/view/tsconfig.json
Due: yarn run format, yarn run lint, sort-package-json

ci(travis): update build scripts
  .gitignore
  .travis.yml
  bin/tsconfig.normalize.ts
  package.json
  packages/cli/package.json
  packages/code-dependency/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/interfaces/package.json
  packages/resolver/package.json
  packages/view/package.json
  packages/view/scripts/build.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/rewriteTsconfig.ts
Due: yarn run format, yarn run lint, sort-package-json

ci(travis): change order
  .travis.yml
Due: none

chore(settings): update settings
  bin/filesystem.ts
  bin/paths.ts
  bin/setting.share.ts
  bin/tsconfig.normalize.ts
  bin/types.d.ts
  packages/cli/jest.config.json
  packages/cli/package.json
  packages/code-dependency/jest.config.json
  packages/code-dependency/package.json
  packages/converter/jest.config.json
  packages/converter/package.json
  packages/extract/jest.config.json
  packages/extract/package.json
  packages/interfaces/jest.config.json
  packages/interfaces/package.json
  packages/resolver/jest.config.json
  packages/resolver/package.json
  packages/view/jest.config.json
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

chore(dist): add distribution settings
  .travis.yml
  .vscode/settings.json
  bin/paths.ts
  bin/setting.share.ts
  bin/tsconfig.build.ts
  bin/tsconfig.normalize.ts
  bin/tsconfig.renwme.sh
  bin/tsconfig.rewrite.sh
  bin/tsconfig.shared.ts
  bin/types.d.ts
  package.json
  packages/cli/package.json
  packages/code-dependency/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/resolver/package.json
  packages/tsconfig.shared.json
  packages/view/package.json
  packages/view/scripts/build.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/rewriteTsconfig.ts
Due: yarn run format, yarn run lint, sort-package-json

chore(scripts): update clean script
  .travis.yml
  bin/setting.share.ts
  package.json
  packages/cli/package.json
  packages/code-dependency/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/resolver/package.json
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

test(test-ci): update view test:ci
  bin/setting.share.ts
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

ci(travis): add setup script
  .travis.yml
  bin/filesystem.ts
  bin/setup.ts
  package.json
Due: yarn run format, yarn run lint, sort-package-json

chore(cache): mv buildcache
  bin/filesystem.ts
  bin/paths.ts
  bin/setting.share.ts
  bin/setup.ts
  bin/tsconfig.build.ts
  bin/types.d.ts
  package.json
  packages/cli/jest.config.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/code-dependency/jest.config.json
  packages/code-dependency/package.json
  packages/code-dependency/tsconfig.json
  packages/converter/jest.config.json
  packages/converter/package.json
  packages/converter/tsconfig.json
  packages/extract/jest.config.json
  packages/extract/package.json
  packages/extract/tsconfig.json
  packages/resolver/jest.config.json
  packages/resolver/package.json
  packages/resolver/tsconfig.json
  packages/view/jest.config.json
  packages/view/package.json
  packages/view/tsconfig.json
Due: yarn run format, yarn run lint, sort-package-json

ci(travis): before build ts file that used in ci
  .lintstagedrc
  .travis.yml
  bin/compaer-diff.js
  bin/filesystem.js
  bin/paths.js
  bin/setting.share.js
  bin/setup.js
  bin/tsconfig.build.js
  bin/tsconfig.shared.js
  package.json
Due: sort-package-json

fix(target): ts -> js
  package.json
Due: sort-package-json

fix(bin): fix make directory
  bin/filesystem.js
  bin/filesystem.ts
Due: yarn run format, yarn run lint

fix(bin): fix bin scripts
  bin/paths.js
  bin/paths.ts
  bin/setting.share.js
  bin/setting.share.ts
  packages/cli/package.json
  packages/code-dependency/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/resolver/package.json
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

fix(bin): fix bin scripts
  bin/paths.js
  bin/paths.ts
  packages/interfaces/tsconfig.json
Due: yarn run format, yarn run lint

ci(travis): update settings (#4)
  .lintstagedrc
  .travis.yml
  bin/compaer-diff.js
  bin/filesystem.js
  bin/filesystem.ts
  bin/paths.js
  bin/paths.ts
  bin/setting.share.js
  bin/setting.share.ts
  bin/setup.js
  bin/setup.ts
  bin/tsconfig.build.js
  bin/tsconfig.build.ts
  bin/tsconfig.shared.js
  bin/types.d.ts
  package.json
  packages/cli/jest.config.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/code-dependency/jest.config.json
  packages/code-dependency/package.json
  packages/code-dependency/tsconfig.json
  packages/converter/jest.config.json
  packages/converter/package.json
  packages/converter/tsconfig.json
  packages/extract/jest.config.json
  packages/extract/package.json
  packages/extract/tsconfig.json
  packages/interfaces/tsconfig.json
  packages/resolver/jest.config.json
  packages/resolver/package.json
  packages/resolver/tsconfig.json
  packages/view/jest.config.json
  packages/view/package.json
  packages/view/tsconfig.json
Due: yarn run format, yarn run lint, sort-package-json

perf(view): update view development ux
  .vscode/settings.json
  bin/tsconfig.build.js
  bin/tsconfig.build.ts
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/cli/src/types.d.ts
  packages/view/config/setup.ts
  packages/view/package.json
  packages/view/public/index.html
  packages/view/scripts/build.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/webpack/SsrPlugin.ts
  packages/view/scripts/webpack/plugins.ts
  packages/view/scripts/webpack/webpack.config.ts
  packages/view/src/client.tsx
  packages/view/tsconfig.scripts.json
Due: yarn run format, yarn run lint, sort-package-json

chore(view): update alert comment
  packages/view/src/client.tsx
Due: yarn run format, yarn run lint

perf(view): update view development ux (#5)
  .vscode/settings.json
  bin/tsconfig.build.js
  bin/tsconfig.build.ts
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/cli/src/types.d.ts
  packages/view/config/setup.ts
  packages/view/package.json
  packages/view/public/index.html
  packages/view/scripts/build.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/webpack/SsrPlugin.ts
  packages/view/scripts/webpack/plugins.ts
  packages/view/scripts/webpack/webpack.config.ts
  packages/view/src/client.tsx
  packages/view/tsconfig.scripts.json
Due: yarn run format, yarn run lint, sort-package-json

docs(description): update README & description
  README.md
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/code-dependency/README.md
  packages/code-dependency/package.json
  packages/converter/README.md
  packages/converter/package.json
  packages/converter/src/index.ts
  packages/extract/README.md
  packages/extract/package.json
  packages/interfaces/README.md
  packages/interfaces/package.json
  packages/resolver/README.md
  packages/resolver/package.json
  packages/view/README.md
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

chore(rename): code-dependency -> map
  bin/paths.js
  bin/paths.ts
  build.txt
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/converter/bin/generate-sample.ts
  packages/converter/package.json
  packages/map/.dependency-cruiser.json
  packages/map/.gitignore
  packages/map/.npmrc
  packages/map/.npmrc.template
  packages/map/.prettierignore
  packages/map/LICENSE
  packages/map/README.md
  packages/map/jest.config.json
  packages/map/package.json
  packages/map/src/__tests__/index.test.ts
  packages/map/src/gather.ts
  packages/map/src/index.ts
  packages/map/tsconfig.json
  packages/map/tslint.json
  packages/tsconfig.json
Due: yarn run format, yarn run lint, sort-package-json

docs(readme): update docs
  HOW_TO_DEVELOP.md
  README.md
  package.json
  yarn.lock
Due: sort-package-json

chore(docs): update docs & rename code-dependency -> map (#6)
  HOW_TO_DEVELOP.md
  README.md
  bin/paths.js
  bin/paths.ts
  build.txt
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/code-dependency/README.md
  packages/converter/README.md
  packages/converter/bin/generate-sample.ts
  packages/converter/package.json
  packages/converter/src/index.ts
  packages/extract/README.md
  packages/extract/package.json
  packages/interfaces/README.md
  packages/interfaces/package.json
  packages/map/.dependency-cruiser.json
  packages/map/.gitignore
  packages/map/.npmrc
  packages/map/.npmrc.template
  packages/map/.prettierignore
  packages/map/LICENSE
  packages/map/README.md
  packages/map/jest.config.json
  packages/map/package.json
  packages/map/src/__tests__/index.test.ts
  packages/map/src/gather.ts
  packages/map/src/index.ts
  packages/map/tsconfig.json
  packages/map/tslint.json
  packages/resolver/README.md
  packages/resolver/package.json
  packages/tsconfig.json
  packages/view/README.md
  packages/view/package.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(view): add folder tree component
  packages/view/src/components/Menu/Constants.ts
  packages/view/src/components/Menu/Menu.tsx
Due: yarn run format, yarn run lint

feat(view): add folder tree component
  packages/cli/package.json
  packages/view/src/components/Menu/Constants.ts
  packages/view/src/components/Menu/Container.tsx
  packages/view/src/components/Menu/Menu.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/Menu/menu.scss
  packages/view/src/types/index.ts
Due: yarn run format, yarn run lint, sort-package-json

Path conditions:
  yarn run format: any of: *.{ts,tsx}
  yarn run lint: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
