Repository Himenon/code-dependency: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn format, sort-package-json

.lintstagedrc:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["yarn format", "prettier --write", "git add"],
  "package.json": ["sort-package-json", "git add"]
}

feat: start csr after page loaded
  packages/view/scripts/webpack.config.ts
  packages/view/src/application.tsx
  packages/view/src/component/GraphvizViewer/GraphvizViewer.tsx
Due: prettier --write, yarn format

feat: change output directory to project
  packages/cli/package.json
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/index.ts
Due: prettier --write, yarn format, sort-package-json

feat: force reload static link
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/view/src/application.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
  packages/view/src/infra/QueryParams.ts
Due: prettier --write, yarn format

fix: current pathname title
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/Editor/Store.ts
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/router/Wrapper.tsx
Due: prettier --write, yarn format

feat: open current directory child paths
  packages/cli/package.json
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/FileTree/SideNavItem.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
Due: prettier --write, yarn format, sort-package-json

feat: add error boundary
  packages/view/scripts/webpack.config.ts
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/ErrorBoundary/ErrorBoundary.tsx
  packages/view/src/container/FileTree/Store.ts
Due: prettier --write, yarn format

fix: Error: Invariant failed
  .vscode/launch.json
  packages/view/scripts/webpack.config.ts
  packages/view/src/component/FileTree/SideNavItem.tsx
  packages/view/src/container/FileTree/Store.ts
Due: prettier --write, yarn format

feat: update routing
  packages/cli/package.json
  packages/cli/src/cli/index.ts
  packages/cli/src/controller/ProjectController.tsx
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/index.ts
  packages/cli/src/view/ProjectView/index.tsx
  packages/view/package.json
  packages/view/scripts/webpack.config.ts
  packages/view/src/application.tsx
  packages/view/src/component/FileTree/SideNavItem.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/interface/index.ts
  packages/view/src/router/index.tsx
  yarn.lock
Due: prettier --write, yarn format, sort-package-json

feat: update routing
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/view/ProjectView/index.tsx
  packages/view/scripts/webpack.config.ts
  packages/view/src/component/FileTree/SideNavItem.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/router/index.tsx
Due: prettier --write, yarn format

feat: add invalidUrl check
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/utils/index.ts
Due: prettier --write, yarn format

feat: update async loop
  packages/cli/src/exporter/index.ts
Due: prettier --write, yarn format

feat: add assets base path
  packages/cli/src/controller/AssetController.tsx
  packages/cli/src/controller/index.ts
  packages/cli/src/view/ProjectView/index.tsx
  packages/cli/src/view/ProjectView/template.tsx
  packages/view/src/container/FileTree/Store.ts
Due: prettier --write, yarn format

fix: cruise path
  packages/cli/src/exporter/index.ts
Due: prettier --write, yarn format

feat: add dry run
  packages/cli/package.json
  packages/cli/src/cli/index.ts
  packages/cli/src/exporter/DryRun.ts
  packages/cli/src/exporter/index.ts
  packages/cli/src/index.ts
  yarn.lock
Due: prettier --write, yarn format, sort-package-json

refactor: path option
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
Due: prettier --write, yarn format

refactor: rename props key names
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/view/ProjectView/index.tsx
  packages/view/src/application.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/Editor/Store.ts
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/domain/Graphviz/Action.ts
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/interface/index.ts
  packages/view/src/router/Wrapper.tsx
  packages/view/src/router/index.tsx
Due: prettier --write, yarn format

refactor(cli): change routing path to const
  packages/cli/src/constants/router.ts
  packages/cli/src/controller/index.ts
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/view/ProjectView/index.tsx
  packages/cli/src/view/ProjectView/template.tsx
Due: prettier --write, yarn format

docs: update document
  packages/cli/README.md
Due: prettier --write

chore: add generate docs script
  packages/cli/package.json
Due: prettier --write, sort-package-json

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/view/CHANGELOG.md
  packages/view/package.json
Due: prettier --write, sort-package-json

ci: update checkout settings
  .github/workflows/pull-request-workflow.yml
  .github/workflows/push-master-workflow.yml
  .github/workflows/release-workflow.yml
  jest.config.json
  lerna.json
  package.json
  packages/cli/package.json
  packages/view/jest.config.json
  packages/view/package.json
  packages/view/scripts/webpack.config.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
Due: prettier --write, yarn format, sort-package-json

ci: change release flow
  .github/workflows/push-master-workflow.yml
  .github/workflows/release-workflow.yml
Due: prettier --write

ci: remove version up in release flow
  .github/workflows/release-workflow.yml
Due: prettier --write

chore(deps): update dependencies
  package.json
  packages/cli/package.json
  packages/view/package.json
  yarn.lock
Due: prettier --write, sort-package-json

docs(cli): update export static docs
  packages/cli/README.md
Due: prettier --write

feat: add native dot engine
  packages/cli/src/cli/index.ts
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/index.ts
  packages/cli/src/service/Renderer.ts
  packages/cli/src/service/index.ts
Due: prettier --write, yarn format

feat: add redirect settings
  packages/cli/src/constants/router.ts
  packages/cli/src/controller/index.ts
  packages/cli/src/index.ts
Due: prettier --write, yarn format

docs(cli): update arguments
  packages/cli/README.md
Due: prettier --write

feat(view): add client and server renderer
  packages/cli/src/controller/ApiController.ts
  packages/view/src/api/ClientRenderer.ts
  packages/view/src/api/index.ts
  packages/view/src/application.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/interface/api.ts
  packages/view/src/interface/index.ts
Due: prettier --write, yarn format

feat: create svg element api
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/view/ProjectView/index.tsx
  packages/view/src/api/index.ts
  packages/view/src/application.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/interface/index.ts
Due: prettier --write, yarn format

feat: add rendererType
  packages/cli/package.json
  packages/cli/src/cli/PathFactory.ts
  packages/cli/src/config/index.ts
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/controller/ProjectController.tsx
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/index.ts
  packages/cli/src/view/ProjectView/index.tsx
  packages/cli/src/view/ProjectView/template.tsx
  packages/view/src/api/ClientRenderer.ts
  packages/view/src/api/index.ts
  packages/view/src/application.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/interface/index.ts
Due: prettier --write, yarn format, sort-package-json

feat: update svg-element api
  packages/cli/src/controller/ApiController.ts
  packages/view/src/api/index.ts
  packages/view/src/application.tsx
  packages/view/src/component/GraphvizViewer/GraphvizViewer.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/GraphvizViewer/Container.tsx
  packages/view/src/container/GraphvizViewer/Store.ts
  packages/view/src/domain/Graphviz/Action.ts
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/domain/Graphviz/State.ts
Due: prettier --write, yarn format

feat: add error template
  .gitignore
  .prettierignore
  packages/cli/.gitignore
  packages/cli/.prettierignore
  packages/cli/src/controller/ProjectController.tsx
  packages/cli/src/service/Renderer.ts
  packages/view/.gitignore
Due: prettier --write, yarn format

feat: enabled render over 300kb dot source
  packages/cli/package.json
  packages/cli/src/service/Renderer.ts
  yarn.lock
Due: prettier --write, yarn format, sort-package-json

feat: add cli exception
  packages/cli/src/cli/index.ts
  packages/cli/src/exceptions/index.ts
Due: prettier --write, yarn format

docs: update README
  packages/cli/README.md
Due: prettier --write
