Repository Himenon/code-dependency: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn format, sort-package-json

.lintstagedrc:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["yarn format", "prettier --write", "git add"],
  "package.json": ["sort-package-json", "git add"]
}

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/view/CHANGELOG.md
  packages/view/package.json
Due: prettier --write, sort-package-json

perf(static-page): not access full.render.js
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/template.tsx
  packages/cli/src/view/ProjectView/template.tsx
Due: prettier --write, yarn format

fix: cli initialize error
  packages/cli/src/view/ProjectView/index.tsx
  packages/view/src/api/ClientRenderer.ts
Due: prettier --write, yarn format

docs(0.4.1): update docs
  docs/assets/scripts/application.7258f739f33c3c17ad1f.js
  docs/assets/scripts/application.e6fe81d8f6c96c91332f.js
  docs/assets/scripts/styles.35fad665f1.js
  docs/assets/scripts/styles.e302b899f5.js
  docs/assets/scripts/vendor.77e3c27a6a.js
  docs/assets/scripts/vendor.77e3c27a6a.js.LICENSE
  docs/assets/scripts/vendor.b6cb32c4e0.js
  docs/project/src/__tests__/index.test.html
  docs/project/src/cli/PathFactory.html
  docs/project/src/cli/__tests__/PathFactory.test.html
  docs/project/src/cli/index.html
  docs/project/src/config/index.html
  docs/project/src/constants/router.html
  docs/project/src/controller/ApiController.html
  docs/project/src/controller/AssetController.html
  docs/project/src/controller/ProjectController.html
  docs/project/src/controller/ScriptController.html
  docs/project/src/controller/index.html
  docs/project/src/exceptions/index.html
  docs/project/src/exporter/DryRun.html
  docs/project/src/exporter/index.html
  docs/project/src/exporter/view/index.html
  docs/project/src/exporter/view/template.html
  docs/project/src/index.html
  docs/project/src/logger/index.html
  docs/project/src/middleware/index.html
  docs/project/src/server.html
  docs/project/src/service/DependencyCruiserService.html
  docs/project/src/service/Renderer.html
  docs/project/src/service/index.html
  docs/project/src/utils/index.html
  docs/project/src/view/ProjectView/index.html
  docs/project/src/view/ProjectView/template.html
  docs/project/src/view/index.html
Due: prettier --write

feat: update dependnecy-cruiser@v7 and add libcheck
  package.json
  packages/cli/package.json
  packages/cli/src/utils/index.ts
  packages/view/package.json
  yarn.lock
Due: prettier --write, yarn format, sort-package-json

docs: add license
  LICENSE
Due: none

docs: Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

docs: delete custom issue template
  .github/ISSUE_TEMPLATE/custom.md
Due: prettier --write

docs: add .nojekyll
  docs/.nojekyll
Due: none

docs: update license file
  packages/cli/LICENSE
  packages/view/LICENSE
Due: none

feat: add react-zoom-pan-pinch
  packages/view/package.json
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/Editor/editor.scss
  packages/view/src/component/FileTree/FileTree.tsx
  packages/view/src/component/FileTree/SideNav.tsx
  packages/view/src/component/FileTree/file_tree.scss
  packages/view/src/component/GraphvizViewer/GraphvizViewer.tsx
  packages/view/src/component/GraphvizViewer/graphviz_viewer.scss
  packages/view/src/component/index.ts
  yarn.lock
Due: prettier --write, yarn format, sort-package-json

feat: add scale button
  packages/view/src/component/Editor/editor.scss
  packages/view/src/component/GraphvizViewer/GraphvizViewer.tsx
  packages/view/src/component/GraphvizViewer/graphviz_viewer.scss
Due: prettier --write, yarn format

chore(deps): add renovate.json
  renovate.json
Due: prettier --write
