Repository Himenon/code-dependency: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run format, yarn run lint, sort-package-json

.lintstagedrc:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["yarn run format", "yarn run lint", "git add"],
  "package.json": ["sort-package-json", "git add"]
}

feat: update dependencies version
  package.json
  packages/cli/package.json
  packages/view/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: update tsconfig
  packages/cli/tsconfig.json
  packages/view/tsconfig.json
  tsconfig.json
Due: prettier --write

feat: update build settings
  packages/cli/src/command.ts
  packages/cli/src/distribution.ts
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/cli/src/types.d.ts
  packages/view/README.md
  packages/view/package.json
  packages/view/public/index.html
  packages/view/scripts/build.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/webpack.config.ts
  packages/view/src/application.tsx
  packages/view/src/index.tsx
  packages/view/src/infra/Graphviz.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add copy webpack plugin
  packages/view/package.json
  packages/view/scripts/build.ts
  packages/view/scripts/webpack.config.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

perf: update performance
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/view/package.json
  packages/view/public/index.html
  packages/view/scripts/webpack.config.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: server side rendering settings
  .eslintrc.js
  build.txt
  package.json
  packages/cli/package.json
  packages/cli/src/distribution.ts
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/cli/tsconfig.json
  packages/cli/typings/viz.js/index.d.ts
  packages/view/.eslintrc.js
  packages/view/package.json
  packages/view/scripts/build.ts
  packages/view/scripts/configFactory.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/webpack.config.ts
  packages/view/src/application.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/Editor/index.ts
  packages/view/src/domain/App/Action.ts
  packages/view/src/domain/App/Constants.ts
  packages/view/src/domain/App/Reducer.ts
  packages/view/src/domain/App/State.ts
  packages/view/src/domain/App/index.ts
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/domain/Graphviz/index.ts
  packages/view/src/domain/index.ts
  packages/view/src/index.tsx
  packages/view/src/infra/Graphviz.ts
  packages/view/src/infra/index.ts
  packages/view/src/interface/index.d.ts
  packages/view/src/router/index.tsx
  packages/view/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add webpack build for cli & fix hooks error
  .eslintrc.js
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/view/scripts/build.ts
  packages/view/scripts/configFactory.ts
  packages/view/scripts/webpack.config.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add webpack settings
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/server.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/router/index.tsx
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: update package.json settings
  package.json
  packages/cli/package.json
  packages/cli/src/server.tsx
  packages/cli/src/template.tsx
  packages/view/package.json
  packages/view/public/index.html
  packages/view/scripts/webpack.config.ts
  tsconfig.json
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add ssr props
  packages/cli/src/server.tsx
  packages/view/src/application.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/interface/index.d.ts
  packages/view/src/router/index.tsx
Due: yarn run format, yarn run lint

feat: add menu
  packages/view/package.json
  packages/view/scripts/develop.ts
  packages/view/scripts/webpack.config.ts
  packages/view/src/application.tsx
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/FileTree/FileTree.tsx
  packages/view/src/component/FileTree/Types.ts
  packages/view/src/component/FileTree/file_tree.scss
  packages/view/src/component/GraphvizViewer/GraphvizViewer.tsx
  packages/view/src/component/index.ts
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/Editor/Store.ts
  packages/view/src/container/FileTree/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
  packages/view/src/container/FileTree/depth.ts
  packages/view/src/container/FileTree/index.tsx
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/infra/Graphviz.ts
  packages/view/src/infra/LocalStorage/Repository.ts
  packages/view/src/infra/LocalStorage/__tests__/Repository.test.ts
  packages/view/src/infra/LocalStorage/types.ts
  packages/view/src/infra/index.ts
  packages/view/src/interface/index.d.ts
  packages/view/src/style/index.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add api
  packages/cli/package.json
  packages/cli/src/api.ts
  packages/cli/src/gather.ts
  packages/cli/src/server.tsx
  packages/view/public/index.html
  packages/view/scripts/webpack.config.ts
  packages/view/src/application.tsx
  packages/view/src/component/FileTree/file_tree.scss
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: can select file path
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/FileTree/FileTree.tsx
  packages/view/src/component/FileTree/Types.ts
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/Editor/Store.ts
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/domain/Graphviz/Action.ts
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/domain/Graphviz/State.ts
Due: yarn run format, yarn run lint

feat: add dependency-cruiser
  packages/cli/package.json
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/server.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/domain/Graphviz/Action.ts
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/infra/index.ts
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add @eui
  packages/view/package.json
  packages/view/scripts/webpack.config.ts
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/Editor/editor.scss
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add EuiSideNav
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/FileTree/FileTree.tsx
  packages/view/src/component/FileTree/Types.ts
  packages/view/src/container/FileTree/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
Due: yarn run format, yarn run lint

feat: add side navigation
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/FileTree/FileTree.tsx
  packages/view/src/component/FileTree/Types.ts
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
Due: yarn run format, yarn run lint

feat: update cli architecture
  packages/cli/src/api.ts
  packages/cli/src/config/index.ts
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/controller/IndexController.tsx
  packages/cli/src/controller/ScriptController.tsx
  packages/cli/src/controller/index.ts
  packages/cli/src/index.ts
  packages/cli/src/middleware/index.ts
  packages/cli/src/server.tsx
  packages/cli/src/service/DependencyCruiserService.ts
  packages/cli/src/service/VizJsService.ts
  packages/cli/src/service/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/view/IndexView/index.tsx
  packages/cli/src/view/IndexView/template.tsx
  packages/cli/src/view/index.tsx
  packages/view/src/index.tsx
  packages/view/src/interface/api.d.ts
  packages/view/src/interface/index.d.ts
Due: yarn run format, yarn run lint

feat: add cli tool
  packages/cli/src/cli.ts
  packages/cli/src/config/index.ts
  packages/cli/src/gather.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/index.ts
Due: yarn run format, yarn run lint

feat: update eui settings
  packages/cli/src/controller/IndexController.tsx
  packages/cli/src/controller/index.ts
  packages/cli/src/index.ts
  packages/view/package.json
  packages/view/scripts/webpack.config.ts
  packages/view/src/interface/api.ts
  packages/view/src/interface/index.ts
  packages/view/tsconfig.json
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: update @elastic/eui settings
  .vscode/launch.json
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/cli.ts
  packages/cli/src/controller/StylesheetsController.tsx
  packages/cli/src/controller/index.ts
  packages/cli/src/index.ts
  packages/cli/src/service/VizJsService.ts
  packages/cli/src/view/IndexView/index.tsx
  packages/cli/src/view/IndexView/template.tsx
  packages/cli/tsconfig.json
  packages/view/scripts/webpack.config.ts
  packages/view/src/application.tsx
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/Editor/Store.ts
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/interface/index.ts
Due: prettier --write, yarn run format, yarn run lint

fix: vizjs error
  packages/cli/src/config/index.ts
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/controller/IndexController.tsx
  packages/cli/src/controller/index.ts
  packages/cli/src/index.ts
  packages/cli/src/service/VizJsService.ts
  packages/cli/src/view/IndexView/index.tsx
Due: yarn run format, yarn run lint

feat: update client side props
  packages/cli/src/cli.ts
  packages/cli/src/config/index.ts
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/controller/IndexController.tsx
  packages/cli/src/index.ts
  packages/cli/src/service/VizJsService.ts
  packages/cli/src/service/index.ts
  packages/cli/src/view/IndexView/index.tsx
  packages/cli/src/view/IndexView/template.tsx
  packages/view/scripts/webpack.config.ts
  packages/view/src/api/index.ts
  packages/view/src/application.tsx
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/Editor/Store.ts
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/index.tsx
  packages/view/src/infra/index.ts
  packages/view/src/interface/api.ts
  packages/view/src/interface/filePathObject.ts
  packages/view/src/interface/index.ts
  packages/view/tsconfig.json
Due: prettier --write, yarn run format, yarn run lint

fix: search base path
  packages/cli/src/config/index.ts
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/service/DependencyCruiserService.ts
Due: yarn run format, yarn run lint

test: update test & update ci settings
  .github/workflows/test-and-build.yml
  package.json
  packages/view/src/container/FileTree/__tests__/Store.test.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

docs: update README
  README.md
  docs/code-dependency-image.png
Due: prettier --write

ci: update workflow
  .github/workflows/test-and-build.yml
Due: prettier --write

fix: release dependency
  package.json
  packages/cli/package.json
  yarn.lock
Due: prettier --write, sort-package-json

0.1.1
  lerna.json
  packages/cli/package.json
  packages/view/package.json
Due: prettier --write, sort-package-json

docs: update readme
  HOW_TO_DEVELOP.md
  README.md
  packages/cli/LICENSE
  packages/cli/README.md
  packages/cli/package.json
  packages/view/LICENSE
  packages/view/README.md
  packages/view/package.json
Due: prettier --write, sort-package-json

refactor: remove bin
  bin/README.md
  bin/compare-pacakge-json-deps.ts
  bin/filesystem.ts
  bin/generate-sample.sh
  bin/setting.share.ts
  bin/settings.ts
  bin/setup.ts
  bin/tsconfig.build.ts
  bin/tsconfig.json
  bin/tsconfig.shared.ts
  bin/types.d.ts
  package.json
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: update lerna.json
  lerna.json
Due: prettier --write

feat: update yarn.lock
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: add ignore optional
  .github/workflows/test-and-build.yml
  package.json
Due: prettier --write, sort-package-json

feat: update yarn.lock
  package.json
  packages/cli/package.json
  packages/view/package.json
  yarn.lock
Due: prettier --write, sort-package-json

feat: remove frozen
  .github/workflows/test-and-build.yml
Due: prettier --write

chore(release): publish [SKIP CI]
  CHANGELOG.md
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/view/CHANGELOG.md
  packages/view/package.json
Due: prettier --write, sort-package-json

feat: add tsconfig option & update cli absolute path
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/exceptions/index.ts
  packages/cli/src/index.ts
  packages/cli/src/service/DependencyCruiserService.ts
  packages/cli/src/service/index.ts
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: update cli path arguments validator
  packages/cli/jest.config.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/cli/PathFactory.ts
  packages/cli/src/cli/__tests__/PathFactory.test.ts
  packages/cli/src/cli/index.ts
  packages/cli/src/exceptions/index.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json
