Repository Himenon/code-dependency: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run format, yarn run lint, sort-package-json

.lintstagedrc:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["yarn run format", "yarn run lint", "git add"],
  "package.json": ["sort-package-json", "git add"]
}

feat: update webpack settings
  packages/view/package.json
  packages/view/scripts/webpack.config.ts
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: cli server change csr from ssr
  packages/cli/src/view/IndexView/index.tsx
  packages/cli/src/view/IndexView/template.tsx
Due: yarn run format, yarn run lint

feat: remove @elastic/eui
  packages/cli/src/service/DependencyCruiserService.ts
  packages/view/scripts/webpack.config.ts
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/Editor/editor.scss
  packages/view/src/component/FileTree/FileTree.tsx
  packages/view/src/component/FileTree/SideNav.tsx
  packages/view/src/component/FileTree/SideNavItem.tsx
  packages/view/src/component/FileTree/Types.ts
  packages/view/src/component/FileTree/file_tree.scss
  packages/view/src/component/GraphvizViewer/graphviz_viewer.scss
  packages/view/src/component/index.ts
  packages/view/src/container/FileTree/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
Due: yarn run format, yarn run lint

feat: update ui
  packages/view/src/component/Editor/Editor.tsx
  packages/view/src/component/Editor/editor.scss
  packages/view/src/component/FileTree/SideNav.tsx
  packages/view/src/component/FileTree/SideNavItem.tsx
  packages/view/src/container/FileTree/Store.ts
Due: yarn run format, yarn run lint

feat: revive ssr
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/view/IndexView/index.tsx
Due: yarn run format, yarn run lint

fix: Invalid Hook Call Warning
  lerna.json
  package.json
  packages/cli/package.json
  packages/cli/scripts/webpack.config.ts
  packages/view/package.json
  packages/view/scripts/webpack.config.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: update fsevents pavkage
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

test: update test
  .github/workflows/test-and-build.yml
  packages/view/src/container/FileTree/Store.ts
Due: prettier --write, yarn run format, yarn run lint

feat: update bin script
  README.md
  packages/cli/bin/code-dependency.js
  packages/cli/package.json
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/controller/IndexController.tsx
  packages/cli/src/view/IndexView/template.tsx
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add memory leak comment
  .vscode/launch.json
  packages/cli/package.json
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/cli/index.ts
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/service/VizJsService.ts
  packages/cli/src/view/IndexView/index.tsx
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

chore(release): publish [SKIP CI]
  CHANGELOG.md
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/view/CHANGELOG.md
  packages/view/package.json
Due: prettier --write, sort-package-json

fix: no-non-package-json resolve-pkg
  package.json
  packages/cli/package.json
  packages/view/package.json
Due: prettier --write, sort-package-json

fix: logger and resolvePkg
  packages/cli/package.json
  packages/cli/src/cli/index.ts
  packages/cli/src/controller/IndexController.tsx
  packages/cli/src/filesystem.ts
  packages/cli/src/index.ts
  packages/cli/src/logger/index.ts
  packages/cli/src/service/DependencyCruiserService.ts
  packages/cli/src/utils/index.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

fix: lerna.json comments
  lerna.json
Due: prettier --write

feat: update packages
  .github/workflows/pull-request-workflow.yml
  .github/workflows/push-master-workflow.yml
  .github/workflows/release-workflow.yml
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/controller/IndexController.tsx
  packages/cli/src/utils/index.ts
  packages/view/package.json
  packages/view/src/container/FileTree/Store.ts
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

fix: fix publish script and webpack
  package.json
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/controller/IndexController.tsx
  packages/cli/src/controller/StylesheetsController.tsx
  packages/cli/src/logger/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/view/IndexView/template.tsx
  packages/view/package.json
  packages/view/scripts/configFactory.ts
  packages/view/src/application.tsx
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/view/CHANGELOG.md
  packages/view/package.json
Due: prettier --write, sort-package-json

fix: some dependency not parsed error
  .lintstagedrc
  CHANGELOG.md
  lerna.json
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/controller/ApiController.ts
  packages/cli/src/index.ts
  packages/cli/src/service/DependencyCruiserService.ts
  packages/cli/src/service/VizJsService.ts
  packages/cli/src/service/index.ts
  packages/cli/src/view/IndexView/index.tsx
  packages/view/CHANGELOG.md
  packages/view/src/container/FileTree/Store.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add exclude,webpack options
  CHANGELOG.md
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/src/cli/index.ts
  packages/cli/src/index.ts
  packages/cli/src/service/DependencyCruiserService.ts
  packages/cli/src/service/index.ts
  packages/view/CHANGELOG.md
Due: prettier --write, yarn run format, yarn run lint

feat: add cli option and update docs
  .lintstagedrc
  README.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/webpack.config.ts
  packages/cli/src/cli/PathFactory.ts
  packages/cli/src/cli/index.ts
  packages/cli/src/index.ts
  packages/cli/src/service/index.ts
  packages/view/scripts/webpack.config.ts
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

fix: not found directory menu
  packages/view/src/container/FileTree/Store.ts
Due: yarn run format, yarn run lint

style: update format
  CHANGELOG.md
  lerna.json
  packages/cli/CHANGELOG.md
  packages/view/CHANGELOG.md
Due: prettier --write

fix: remove logger
  package.json
  packages/cli/package.json
  packages/cli/scripts/webpack.config.ts
  packages/view/package.json
  packages/view/scripts/webpack.config.ts
  packages/view/src/container/FileTree/Store.ts
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

style: remove auto format target at md
  .prettierrc
  CHANGELOG.md
  lerna.json
  package.json
  packages/cli/CHANGELOG.md
  packages/view/CHANGELOG.md
Due: prettier --write, sort-package-json

feat: add exporter
  lerna.json
  packages/cli/src/cli/index.ts
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/exporter/view/template.tsx
  packages/cli/src/index.ts
  packages/cli/src/view/IndexView/index.tsx
  packages/view/src/application.tsx
  packages/view/src/component/GraphvizViewer/GraphvizViewer.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/FileTree/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/GraphvizViewer/Container.tsx
  packages/view/src/container/GraphvizViewer/Store.ts
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/domain/Graphviz/State.ts
  packages/view/src/interface/index.ts
Due: prettier --write, yarn run format, yarn run lint

fix: add process.setMaxListeners
  packages/cli/.gitignore
  packages/cli/src/exporter/index.ts
Due: yarn run format, yarn run lint

feat: success assets load
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/utils/index.ts
  packages/view/src/application.tsx
  packages/view/src/interface/index.ts
Due: yarn run format, yarn run lint

feat: generate svg elements
  packages/cli/src/exporter/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/exporter/view/template.tsx
  packages/cli/src/view/IndexView/index.tsx
  packages/view/src/application.tsx
Due: yarn run format, yarn run lint

feat: update router
  packages/cli/src/view/IndexView/index.tsx
  packages/view/scripts/configFactory.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/webpack.config.ts
  packages/view/src/application.tsx
  packages/view/src/component/FileTree/SideNavItem.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/container/FileTree/__tests__/Store.test.ts
  packages/view/src/router/index.tsx
Due: yarn run format, yarn run lint

feat: update react router hoc
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/router/Wrapper.tsx
  packages/view/src/router/index.tsx
  packages/view/tsconfig.json
Due: prettier --write, yarn run format, yarn run lint

feat: add useHistory
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/domain/Graphviz/index.ts
  packages/view/src/router/Wrapper.tsx
Due: yarn run format, yarn run lint

feat: change query pathname
  packages/view/scripts/webpack.config.ts
  packages/view/src/container/FileTree/Store.ts
  packages/view/src/domain/Graphviz/Action.ts
  packages/view/src/domain/Graphviz/Converter.ts
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/infra/QueryParams.ts
  packages/view/src/infra/index.ts
  packages/view/src/interface/Page.ts
  packages/view/src/interface/index.ts
Due: yarn run format, yarn run lint

feat: restore element by reopen window
  packages/view/src/application.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/interface/index.ts
  packages/view/src/router/Wrapper.tsx
Due: yarn run format, yarn run lint

feat: seperate project view
  packages/cli/src/controller/ProjectController.tsx
  packages/cli/src/controller/index.ts
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/exporter/view/template.tsx
  packages/cli/src/view/ProjectView/index.tsx
  packages/cli/src/view/ProjectView/template.tsx
  packages/cli/src/view/index.tsx
  packages/view/src/domain/Graphviz/Reducer.ts
  packages/view/src/index.tsx
  packages/view/src/infra/QueryParams.ts
  packages/view/src/router/Wrapper.tsx
Due: yarn run format, yarn run lint

refactor: use flat state
  packages/cli/src/exporter/view/index.tsx
  packages/cli/src/view/ProjectView/index.tsx
  packages/view/src/application.tsx
  packages/view/src/container/Editor/Container.tsx
  packages/view/src/interface/index.ts
Due: yarn run format, yarn run lint
