Repository Himenon/code-dependency: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format, yarn run lint, yarn run build:bin, sort-package-json

ci(travis): add verbose
  .travis.yml
Due: none

ci(travis): update settings
  .travis.yml
  packages/cli/tsconfig.json
Due: none

feat(dist): update distribution command
  packages/cli/package.json
  packages/cli/src/distribution.ts
  packages/view/src/index.tsx
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

chore(view): remove rules
  packages/tsconfig.shared.json
  packages/view/scripts/webpack/rules/CacheLoader.ts
  packages/view/scripts/webpack/rules/FileLoader.ts
  packages/view/scripts/webpack/rules/HtmlLoader.ts
  packages/view/scripts/webpack/rules/SourceMapLoader.ts
  packages/view/scripts/webpack/rules/StyleLoader.ts
  packages/view/scripts/webpack/rules/UrlLoader.ts
  packages/view/scripts/webpack/rules/index.ts
Due: yarn run format, yarn run lint

feat(cli): update distribution command
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/distribution.ts
  packages/cli/src/filesystem.ts
  packages/cli/src/index.ts
  packages/view/scripts/webpack/rules/index.ts
  packages/view/scripts/webpack/webpack.config.ts
  packages/view/src/index.tsx
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

ci(test): fix test
  .travis.yml
  packages/cli/package.json
Due: sort-package-json

feat(dist): update distribution command (#13)
  .travis.yml
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/distribution.ts
  packages/cli/src/filesystem.ts
  packages/cli/src/index.ts
  packages/tsconfig.shared.json
  packages/view/scripts/webpack/rules/CacheLoader.ts
  packages/view/scripts/webpack/rules/FileLoader.ts
  packages/view/scripts/webpack/rules/HtmlLoader.ts
  packages/view/scripts/webpack/rules/SourceMapLoader.ts
  packages/view/scripts/webpack/rules/StyleLoader.ts
  packages/view/scripts/webpack/rules/UrlLoader.ts
  packages/view/scripts/webpack/rules/index.ts
  packages/view/scripts/webpack/webpack.config.ts
  packages/view/src/index.tsx
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

build(publish): update settings
  .gitignore
  .npmrc.template
  lerna.json
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/converter/.npmrc.template
  packages/converter/package.json
  packages/extract/.npmrc.template
  packages/extract/package.json
  packages/interfaces/package.json
  packages/map/.npmrc.template
  packages/map/package.json
  packages/resolver/.npmrc.template
  packages/resolver/package.json
  packages/test-project/package.json
  packages/view/.npmrc.template
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

v0.0.1-alpha.2
  lerna.json
  packages/cli/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/interfaces/package.json
  packages/map/package.json
  packages/resolver/package.json
  packages/test-project/package.json
  packages/view/package.json
Due: sort-package-json

chore(site): gather site urls
  packages/cli/src/distribution.ts
  packages/interfaces/src/index.ts
  packages/view/public/index.html
  packages/view/src/client.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/ProjectMenu/Store.ts
  packages/view/src/domain/App/Factory.ts
  packages/view/src/domain/App/Reducer.ts
  packages/view/src/domain/App/State.ts
  packages/view/src/domain/index.ts
  packages/view/src/index.tsx
  packages/view/src/types/index.ts
Due: yarn run format, yarn run lint

v0.0.1-alpha.3
  lerna.json
  packages/cli/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/interfaces/package.json
  packages/map/package.json
  packages/resolver/package.json
  packages/view/package.json
Due: sort-package-json

chore(view): update default settings
  packages/cli/package.json
  packages/view/src/client.tsx
  packages/view/src/index.tsx
Due: yarn run format, yarn run lint, sort-package-json

fix(link): add rel
  packages/cli/README.md
  packages/cli/package.json
  packages/view/src/index.tsx
Due: yarn run format, yarn run lint, sort-package-json

chore(view): update default settings (#14)
  packages/cli/README.md
  packages/cli/package.json
  packages/view/src/client.tsx
  packages/view/src/index.tsx
Due: yarn run format, yarn run lint, sort-package-json

v0.0.1-alpha.4
  lerna.json
  packages/cli/package.json
  packages/view/package.json
Due: sort-package-json

feat(task): add copy:style
  package.json
  packages/view/package.json
  yarn.lock
Due: sort-package-json

v0.0.1-alpha.5
  lerna.json
  packages/cli/package.json
  packages/view/package.json
Due: sort-package-json

fix(view): no config response try-catch
  packages/view/src/client.tsx
Due: yarn run format, yarn run lint

v0.0.1-alpha.6
  lerna.json
  packages/cli/package.json
  packages/view/package.json
Due: sort-package-json

feat(view-cli): can use directory path & update project menu
  README.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/command.ts
  packages/cli/src/filesystem.ts
  packages/interfaces/src/index.ts
  packages/map/src/gather.ts
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/ProjectMenu/ProjectMenu.tsx
  packages/view/src/components/ProjectMenu/Store.ts
  packages/view/src/components/Template/template.scss
  packages/view/src/domain/App/Factory.ts
  packages/view/src/domain/Project/Reducer.ts
  packages/view/src/domain/Project/State.ts
  packages/view/src/style.scss
Due: yarn run format, yarn run lint, sort-package-json

test(map): update project directory path
  packages/cli/src/command.ts
  packages/map/src/__tests__/index.test.ts
Due: yarn run format, yarn run lint

fix(view): update initial state
  packages/view/src/components/ProjectMenu/Store.ts
  packages/view/src/domain/App/Reducer.ts
Due: yarn run format, yarn run lint

feat(view-cli): can use directory path & update project menu (#15)
  README.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/command.ts
  packages/cli/src/filesystem.ts
  packages/interfaces/src/index.ts
  packages/map/src/__tests__/index.test.ts
  packages/map/src/gather.ts
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/ProjectMenu/ProjectMenu.tsx
  packages/view/src/components/ProjectMenu/Store.ts
  packages/view/src/components/Template/template.scss
  packages/view/src/domain/App/Factory.ts
  packages/view/src/domain/App/Reducer.ts
  packages/view/src/domain/Project/Reducer.ts
  packages/view/src/domain/Project/State.ts
  packages/view/src/style.scss
Due: yarn run format, yarn run lint, sort-package-json

feat(sample): add sample
  bin/generate-sample.sh
  docs/sample/asset-manifest.json
  docs/sample/config.json
  docs/sample/index.html
  docs/sample/manifest.json
  docs/sample/projects/cli.json
  docs/sample/projects/converter.json
  docs/sample/projects/extract.json
  docs/sample/projects/interfaces.json
  docs/sample/projects/map.json
  docs/sample/projects/resolver.json
  docs/sample/projects/test-project.json
  docs/sample/projects/view.json
  docs/sample/static/css/index.851af6b6.chunk.css
  docs/sample/static/css/index.af0a8b19.chunk.css
  docs/sample/static/js/index.0004c566.chunk.js
  docs/sample/static/js/index.7518a96d.chunk.js
  docs/sample/static/js/index.81effcb6.chunk.js
  docs/sample/static/js/index.91a311fa.chunk.js
  docs/sample/static/js/index.b3cc0350.chunk.js
  docs/sample/static/js/index.d1576a9a.chunk.js
  docs/sample/static/js/index.d4c4a08a.chunk.js
  docs/sample/static/js/index.df85b543.chunk.js
  docs/sample/static/js/runtime~index.7c6da49c.js
  docs/sample/static/js/runtime~index.cb9270c2.js
  docs/sample/static/js/vendors~index.00dbd5ab.chunk.js
  docs/sample/static/js/vendors~index.7ddac8c4.chunk.js
  docs/sample/static/js/vendors~index.b5e3b40a.chunk.js
  package.json
Due: sort-package-json

fix(map): update strip base path
  bin/generate-sample.sh
  docs/sample/asset-manifest.json
  docs/sample/index.html
  docs/sample/projects/cli.json
  docs/sample/projects/extract.json
  docs/sample/projects/interfaces.json
  docs/sample/projects/map.json
  docs/sample/projects/resolver.json
  docs/sample/projects/test-project.json
  docs/sample/projects/view.json
  docs/sample/static/css/index.851af6b6.chunk.css
  docs/sample/static/js/index.14d52b5e.chunk.js
  packages/map/src/__tests__/index.test.ts
  packages/map/src/index.ts
Due: yarn run format, yarn run lint

feat(sample): add sample (#16)
  bin/generate-sample.sh
  docs/sample/asset-manifest.json
  docs/sample/config.json
  docs/sample/index.html
  docs/sample/manifest.json
  docs/sample/projects/cli.json
  docs/sample/projects/converter.json
  docs/sample/projects/extract.json
  docs/sample/projects/interfaces.json
  docs/sample/projects/map.json
  docs/sample/projects/resolver.json
  docs/sample/projects/test-project.json
  docs/sample/projects/view.json
  docs/sample/static/css/index.851af6b6.chunk.css
  docs/sample/static/css/index.af0a8b19.chunk.css
  docs/sample/static/js/index.0004c566.chunk.js
  docs/sample/static/js/index.14d52b5e.chunk.js
  docs/sample/static/js/index.7518a96d.chunk.js
  docs/sample/static/js/index.81effcb6.chunk.js
  docs/sample/static/js/index.91a311fa.chunk.js
  docs/sample/static/js/index.b3cc0350.chunk.js
  docs/sample/static/js/index.d1576a9a.chunk.js
  docs/sample/static/js/index.d4c4a08a.chunk.js
  docs/sample/static/js/index.df85b543.chunk.js
  docs/sample/static/js/runtime~index.7c6da49c.js
  docs/sample/static/js/runtime~index.cb9270c2.js
  docs/sample/static/js/vendors~index.00dbd5ab.chunk.js
  docs/sample/static/js/vendors~index.7ddac8c4.chunk.js
  docs/sample/static/js/vendors~index.b5e3b40a.chunk.js
  package.json
  packages/map/src/__tests__/index.test.ts
  packages/map/src/index.ts
Due: yarn run format, yarn run lint, sort-package-json

ci(test): add test:ci
  .travis.yml
Due: none

v0.0.1-alpha.7
  lerna.json
  packages/cli/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/interfaces/package.json
  packages/map/package.json
  packages/resolver/package.json
  packages/view/package.json
Due: sort-package-json

feat: update develop settings
  .eslintrc.js
  .eslintrc.json
  .huskyrc
  .huskyrc.js
  .lintstagedrc
  .prettierignore
  .prettierrc
  commitlint.config.js
  commitlint.config.json
  package.json
  packages/cli/package.json
  packages/cli/tslint.json
  packages/converter/package.json
  packages/converter/tslint.json
  packages/extract/package.json
  packages/extract/tslint.json
  packages/interfaces/package.json
  packages/interfaces/tslint.json
  packages/map/package.json
  packages/map/tslint.json
  packages/resolver/package.json
  packages/resolver/tslint.json
  packages/view/.eslintrc.json
  packages/view/.prettierrc
  packages/view/package.json
  packages/view/tslint.json
  tsconfig.json
  yarn.lock
Due: sort-package-json

ci: add github action
  .github/workflows/test-and-build.yml
  .travis.yml
Due: none

style(lint): eslintをactiveに
  .eslintignore
  package.json
  packages/cli/src/command.ts
  packages/resolver/src/readPackageDeps/index.ts
  packages/resolver/src/resolve/determineDependencyTypes.ts
  packages/resolver/src/resolve/enhancedResolve.ts
  packages/resolver/src/resolve/resolved-commonjs.ts
  packages/view/scripts/build.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/style.ts
  packages/view/scripts/webpack/plugins.ts
  packages/view/scripts/webpack/webpackDevServer.config.ts
  packages/view/src/components/Dendrogram/Dendrogram.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/domain/index.ts
Due: yarn run format, yarn run lint, sort-package-json

fix: eslintに指摘された箇所の修正
  .eslintrc.js
  packages/cli/src/command.ts
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/converter/bin/generate-sample.ts
  packages/extract/src/extract/typescript-dependency.ts
  packages/resolver/src/readPackageDeps/index.ts
  packages/resolver/src/resolve/determineDependencyTypes.ts
  packages/resolver/src/resolve/resolveOptions.ts
  packages/view/scripts/develop.ts
  packages/view/src/client.tsx
  packages/view/src/components/ProjectMenu/Container.tsx
  packages/view/src/render.ts
Due: yarn run format, yarn run lint

ci: node 10.x系に変更
  .github/workflows/test-and-build.yml
Due: none

build(webpack): update settings
  packages/tsconfig.shared.json
  packages/view/package.json
  packages/view/public/index.html
  packages/view/scripts/build.ts
  packages/view/scripts/develop.ts
  packages/view/scripts/style.ts
  packages/view/scripts/tsconfig.cli.json
  packages/view/scripts/webpack.config.ts
  packages/view/scripts/webpack/common.ts
  packages/view/scripts/webpack/optimization.ts
  packages/view/scripts/webpack/plugins.ts
  packages/view/scripts/webpack/rules/AssetsLoader.ts
  packages/view/scripts/webpack/rules/BabelLoader.ts
  packages/view/scripts/webpack/rules/TsLoader.ts
  packages/view/scripts/webpack/rules/index.ts
  packages/view/scripts/webpack/webpack.config.ts
  packages/view/scripts/webpack/webpackDevServer.config.ts
  packages/view/tsconfig.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat: remove files
  docs/sample/asset-manifest.json
  docs/sample/config.json
  docs/sample/index.html
  docs/sample/manifest.json
  docs/sample/projects/cli.json
  docs/sample/projects/converter.json
  docs/sample/projects/extract.json
  docs/sample/projects/interfaces.json
  docs/sample/projects/map.json
  docs/sample/projects/resolver.json
  docs/sample/projects/test-project.json
  docs/sample/projects/view.json
  docs/sample/static/css/index.851af6b6.chunk.css
  docs/sample/static/css/index.af0a8b19.chunk.css
  docs/sample/static/js/index.0004c566.chunk.js
  docs/sample/static/js/index.14d52b5e.chunk.js
  docs/sample/static/js/index.7518a96d.chunk.js
  docs/sample/static/js/index.81effcb6.chunk.js
  docs/sample/static/js/index.91a311fa.chunk.js
  docs/sample/static/js/index.b3cc0350.chunk.js
  docs/sample/static/js/index.d1576a9a.chunk.js
  docs/sample/static/js/index.d4c4a08a.chunk.js
  docs/sample/static/js/index.df85b543.chunk.js
  docs/sample/static/js/runtime~index.7c6da49c.js
  docs/sample/static/js/runtime~index.cb9270c2.js
  docs/sample/static/js/vendors~index.00dbd5ab.chunk.js
  docs/sample/static/js/vendors~index.7ddac8c4.chunk.js
  docs/sample/static/js/vendors~index.b5e3b40a.chunk.js
  packages/cli/tsconfig.json
  packages/tsconfig.json
  packages/tsconfig.shared.json
  tsconfig.json
Due: none

feat: update version
  lerna.json
  packages/cli/package.json
Due: sort-package-json

Path conditions:
  yarn run format: any of: *.{ts,tsx}
  yarn run lint: any of: *.{ts,tsx}
  yarn run build:bin: any of: bin/*.{ts}
  sort-package-json: any of: package.json
