Repository Himenon/code-dependency: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format, yarn run lint, yarn run build:bin, sort-package-json

refactor(view): update view
  packages/view/src/components/Menu/Constants.ts
  packages/view/src/components/Menu/Menu.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/Menu/menu.scss
  packages/view/tsconfig.json
Due: yarn run format, yarn run lint

refactor(view): update view
  packages/view/package.json
  packages/view/src/components/Menu/Menu.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/Menu/menu.scss
  packages/view/src/components/Template/Template.tsx
  packages/view/src/components/Template/template.scss
  packages/view/src/utils.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(view): update folder tree
  packages/view/src/components/Menu/Menu.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/Menu/__tests__/Store.test.ts
  packages/view/src/components/Menu/depth.ts
  packages/view/src/components/Menu/menu.scss
Due: yarn run format, yarn run lint

feat(view): update root source node
  packages/view/src/components/Menu/Menu.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/Menu/__tests__/Store.test.ts
  packages/view/src/components/TreeNode/Container.tsx
  packages/view/src/components/TreeNode/Store.ts
Due: yarn run format, yarn run lint

feat(view): add menu sort
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/Menu/__tests__/Store.test.ts
Due: yarn run format, yarn run lint

fix(ci): add boostrap task
  .travis.yml
Due: none

fix(ci): update
  packages/cli/package.json
  packages/view/tsconfig.json
Due: sort-package-json

fix(ci): update
  packages/interfaces/package.json
Due: sort-package-json

feat(view): update menu (#7)
  .travis.yml
  packages/cli/package.json
  packages/interfaces/package.json
  packages/view/package.json
  packages/view/src/components/Menu/Constants.ts
  packages/view/src/components/Menu/Container.tsx
  packages/view/src/components/Menu/Menu.tsx
  packages/view/src/components/Menu/Store.ts
  packages/view/src/components/Menu/__tests__/Store.test.ts
  packages/view/src/components/Menu/depth.ts
  packages/view/src/components/Menu/menu.scss
  packages/view/src/components/Template/Template.tsx
  packages/view/src/components/Template/template.scss
  packages/view/src/components/TreeNode/Container.tsx
  packages/view/src/components/TreeNode/Store.ts
  packages/view/src/types/index.ts
  packages/view/src/utils.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(resolver): update resolver
  packages/converter/package.json
  packages/converter/sample/code-dependency.json
  packages/converter/sample/tree-data.json
  packages/resolver/README.md
  packages/resolver/example/src/index.ts
  packages/resolver/example/src/utils/getName.ts
  packages/resolver/example/src/utils/index.ts
  packages/resolver/src/__tests__/example.data.ts
Due: yarn run format, yarn run lint, sort-package-json

refactor(resolve): move files
  packages/cli/package.json
  packages/resolver/src/index.ts
  packages/resolver/src/resolve/__tests__/index.test.ts
  packages/resolver/src/resolve/__tests__/resolve.test.ts
  packages/resolver/src/resolve/constants.ts
  packages/resolver/src/resolve/determineDependencyTypes.ts
  packages/resolver/src/resolve/enhancedResolve.ts
  packages/resolver/src/resolve/index.ts
  packages/resolver/src/resolve/localNpmHelpers.ts
  packages/resolver/src/resolve/resolveOptions.ts
  packages/resolver/src/resolve/resolved-commonjs.ts
Due: yarn run format, yarn run lint, sort-package-json

refactor(resolver): refactroing
  packages/cli/package.json
  packages/converter/sample/code-dependency.json
  packages/extract/jest.config.json
  packages/extract/src/__tests__/index.test.ts
  packages/extract/src/extract/typescript-dependency.ts
  packages/extract/src/index.ts
  packages/resolver/src/__tests__/addResolutionAttribute.test.ts
Due: yarn run format, yarn run lint, sort-package-json

refactor(test): add test project
  build.txt
  packages/extract/.dependency-cruiser.json
  packages/extract/package.json
  packages/extract/src/__tests__/index.test.ts
  packages/resolver/.dependency-cruiser.json
  packages/resolver/package.json
  packages/resolver/src/__tests__/example.test.ts
  packages/test-project/package.json
  packages/test-project/src/app.tsx
  packages/test-project/src/circleDeps/child.ts
  packages/test-project/src/circleDeps/index.ts
  packages/test-project/src/circleDeps/parent.ts
  packages/test-project/src/components/Main.tsx
  packages/test-project/src/components/index.ts
  packages/test-project/src/domain/App/Model.ts
  packages/test-project/src/domain/App/index.ts
  packages/test-project/src/domain/index.ts
  packages/test-project/src/index.ts
  packages/test-project/src/sourceMap.ts
  packages/test-project/src/utils/getName.ts
  packages/test-project/src/utils/index.ts
  packages/test-project/tsconfig.json
  packages/tsconfig.json
Due: yarn run format, yarn run lint, sort-package-json

refactor(test): update test-project test
  packages/converter/.dependency-cruiser.json
  packages/converter/bin/generate-sample.ts
  packages/converter/package.json
  packages/converter/sample/code-dependency.json
  packages/converter/sample/csrProps.json
  packages/converter/sample/tree-data.json
  packages/converter/src/__tests__/snapshot.test.ts
  packages/extract/src/extract/typescript-dependency.ts
  packages/test-project/src/circleDeps/index.ts
  packages/test-project/src/index.ts
Due: yarn run format, yarn run lint, sort-package-json

fix(test): update pacakge.json
  packages/cli/package.json
Due: sort-package-json

feat(cli): update cli arguments and message
  packages/cli/package.json
  packages/cli/src/filesystem.ts
  packages/cli/src/index.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

refactor(cli): refactoring cli logic
  packages/cli/package.json
  packages/cli/src/filesystem.ts
  packages/cli/src/index.ts
Due: yarn run format, yarn run lint, sort-package-json

docs(cli): update README
  packages/cli/README.md
Due: none

refactor(cli): refactoring (#9)
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/filesystem.ts
  packages/cli/src/index.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

fix(circular-depenency): update test-project
  packages/cli/package.json
  packages/test-project/src/app.tsx
  packages/test-project/src/circleDeps/child.ts
  packages/test-project/src/circleDeps/index.ts
  packages/test-project/src/circleDeps/parent.ts
  packages/test-project/src/circular-dependencies/TodoItem.ts
  packages/test-project/src/circular-dependencies/TodoList.ts
  packages/test-project/src/circular-dependencies/index.ts
  packages/test-project/src/index.ts
Due: yarn run format, yarn run lint, sort-package-json

feat(converter): add circular detect method
  bin/setting.share.js
  bin/setting.share.ts
  packages/converter/src/filters/basic.ts
  packages/converter/src/filters/index.ts
  packages/converter/src/index.ts
  packages/converter/src/transform.ts
  packages/extract/package.json
  packages/interfaces/src/index.ts
  packages/view/src/domain/App/State.ts
Due: yarn run format, yarn run lint, sort-package-json

chore(package): add scripts
  package.json
  packages/cli/package.json
  packages/converter/package.json
  packages/interfaces/jest.config.json
  packages/interfaces/package.json
  packages/map/jest.config.json
  packages/map/package.json
  packages/resolver/package.json
  packages/view/package.json
Due: sort-package-json

feat(circular): update circular logic & fix dirname
  packages/cli/src/index.ts
  packages/converter/bin/generate-sample.ts
  packages/converter/sample/csrProps.json
  packages/converter/sample/tree-data.json
  packages/converter/src/index.ts
  packages/converter/src/transform.ts
  packages/interfaces/src/index.ts
  packages/resolver/src/addResolutionAttribute.ts
Due: yarn run format, yarn run lint

feat(converter): add safety of circular deps
  packages/converter/sample/csrProps.json
  packages/converter/sample/tree-data.json
  packages/converter/src/index.ts
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

fix(view): update node click
  packages/view/src/components/TreeNode/Container.tsx
Due: yarn run format, yarn run lint

test(resolver): update test
  packages/cli/src/index.ts
  packages/resolver/src/__tests__/example.test.ts
  packages/test-project/src/sourceMap.ts
Due: yarn run format, yarn run lint

feat(converter): update circular deps (#10)
  bin/setting.share.js
  bin/setting.share.ts
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/converter/bin/generate-sample.ts
  packages/converter/package.json
  packages/converter/sample/csrProps.json
  packages/converter/sample/tree-data.json
  packages/converter/src/filters/basic.ts
  packages/converter/src/filters/index.ts
  packages/converter/src/index.ts
  packages/converter/src/transform.ts
  packages/extract/package.json
  packages/interfaces/jest.config.json
  packages/interfaces/package.json
  packages/interfaces/src/index.ts
  packages/map/jest.config.json
  packages/map/package.json
  packages/resolver/package.json
  packages/resolver/src/__tests__/example.test.ts
  packages/resolver/src/addResolutionAttribute.ts
  packages/test-project/src/app.tsx
  packages/test-project/src/circleDeps/child.ts
  packages/test-project/src/circleDeps/index.ts
  packages/test-project/src/circleDeps/parent.ts
  packages/test-project/src/circular-dependencies/TodoItem.ts
  packages/test-project/src/circular-dependencies/TodoList.ts
  packages/test-project/src/circular-dependencies/index.ts
  packages/test-project/src/index.ts
  packages/test-project/src/sourceMap.ts
  packages/view/package.json
  packages/view/src/components/TreeNode/Container.tsx
  packages/view/src/domain/App/State.ts
Due: yarn run format, yarn run lint, sort-package-json

feat(version): update alpha version
  .npmrc
  bin/paths.ts
  bin/setting.share.js
  bin/setting.share.ts
  bin/types.d.ts
  package.json
  packages/cli/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/interfaces/package.json
  packages/map/package.json
  packages/resolver/package.json
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

feat(version): update alpha version
  bin/paths.js
  bin/paths.ts
  bin/setting.share.js
  bin/setting.share.ts
  bin/types.d.ts
  packages/cli/package.json
  packages/converter/package.json
  packages/extract/package.json
  packages/interfaces/package.json
  packages/map/package.json
  packages/resolver/package.json
  packages/test-project/package.json
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

chore(npmrc): remove .npmrc
  .npmrc
  packages/cli/.npmrc
  packages/converter/.npmrc
  packages/extract/.npmrc
  packages/map/.npmrc
  packages/resolver/.npmrc
  packages/view/.npmrc
Due: none

chore(version): create alpha version (#11)
  bin/paths.js
  bin/paths.ts
  bin/setting.share.js
  bin/setting.share.ts
  bin/types.d.ts
  package.json
  packages/cli/.npmrc
  packages/cli/package.json
  packages/converter/.npmrc
  packages/converter/package.json
  packages/extract/.npmrc
  packages/extract/package.json
  packages/interfaces/package.json
  packages/map/.npmrc
  packages/map/package.json
  packages/resolver/.npmrc
  packages/resolver/package.json
  packages/test-project/package.json
  packages/view/.npmrc
  packages/view/package.json
Due: yarn run format, yarn run lint, sort-package-json

feat(static-host): add resource copy & udpate view
  bin/setting.share.ts
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/src/command.ts
  packages/cli/src/distribution.ts
  packages/cli/src/filesystem.ts
  packages/cli/src/index.ts
  packages/cli/src/server.tsx
  packages/cli/src/types.d.ts
  packages/interfaces/src/index.ts
  packages/view/package.json
  packages/view/src/client.tsx
  packages/view/src/components/Template/Container.tsx
  packages/view/src/domain/App/Reducer.ts
  packages/view/src/domain/Dendrogram/Reducer.ts
  packages/view/src/domain/Dendrogram/State.ts
  packages/view/src/domain/Project/Action.ts
  packages/view/src/domain/Project/Reducer.ts
  packages/view/src/domain/Project/State.ts
  packages/view/src/domain/Project/index.ts
  packages/view/src/domain/index.ts
  packages/view/src/index.tsx
  packages/view/src/render.ts
  packages/view/src/types/index.ts
  packages/view/tsconfig.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat(view): add project menu
  packages/interfaces/src/index.ts
  packages/view/src/components/ProjectMenu/Container.tsx
  packages/view/src/components/ProjectMenu/ProjectMenu.tsx
  packages/view/src/components/ProjectMenu/Store.ts
  packages/view/src/components/ProjectMenu/index.ts
  packages/view/src/components/ProjectMenu/project-menu.scss
  packages/view/src/components/Template/Container.tsx
  packages/view/src/components/Template/Store.ts
  packages/view/src/components/Template/Template.tsx
  packages/view/src/domain/Project/State.ts
  packages/view/src/types/index.ts
Due: yarn run format, yarn run lint

feat(view): add change project logic
  packages/cli/src/server.tsx
  packages/view/package.json
  packages/view/src/client.tsx
  packages/view/src/components/ProjectMenu/Constants.ts
  packages/view/src/components/ProjectMenu/Container.tsx
  packages/view/src/components/ProjectMenu/ProjectMenu.tsx
  packages/view/src/components/ProjectMenu/Store.ts
  packages/view/src/domain/App/Action.ts
  packages/view/src/domain/App/Reducer.ts
  packages/view/src/domain/Project/Action.ts
  packages/view/src/domain/Project/Reducer.ts
  packages/view/src/domain/Project/State.ts
  packages/view/src/types/index.ts
Due: yarn run format, yarn run lint, sort-package-json

fix(hooks): functional to jsx
  packages/view/src/components/Menu/Menu.tsx
  packages/view/src/components/ProjectMenu/Store.ts
Due: yarn run format, yarn run lint

chore(scripts): node to ts-node
  HOW_TO_DEVELOP.md
  bin/compaer-diff.js
  bin/filesystem.js
  bin/paths.js
  bin/setting.share.js
  bin/setup.js
  bin/tsconfig.build.js
  bin/tsconfig.shared.js
  package.json
Due: sort-package-json

chore(scripts): update build:scripts
  .gitignore
  .vscode/settings.json
  packages/view/tsconfig.json
  packages/view/tsconfig.scripts.json
Due: none

chore(scripts): update bin scripts
  bin/README.md
  bin/compaer-diff.ts
  bin/compare-pacakge-json-deps.ts
  bin/filesystem.ts
  bin/paths.ts
  bin/setting.share.ts
  bin/settings.ts
  bin/setup.ts
  bin/tsconfig.build.ts
  bin/tsconfig.json
  bin/tsconfig.shared.ts
  bin/types.d.ts
  package.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

chore(scripts): update bin scripts
  bin/filesystem.ts
  bin/settings.ts
  bin/tsconfig.json
  packages/cli/tsconfig.json
  packages/converter/tsconfig.json
  packages/extract/tsconfig.json
  packages/interfaces/tsconfig.json
  packages/map/tsconfig.json
  packages/resolver/tsconfig.json
  packages/test-project/tsconfig.json
  packages/view/tsconfig.json
Due: yarn run format, yarn run lint

Path conditions:
  yarn run format: any of: *.{ts,tsx}
  yarn run lint: any of: *.{ts,tsx}
  yarn run build:bin: any of: bin/*.{ts}
  sort-package-json: any of: package.json
